
  html{color:indigo;font-size: 15pt;}

  h1{color: black;
    text-transform: capitalize;
    text-indent: 1rem ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;}

  body{margin-right: 10%;
margin-left: 10%;}

  p {
      font-size: 13 pt; ;
  }

  sup{font-size: 0.02 rem;}

  dfn{font-weight: bolder;color: darkblue;}

  aside{text-align: center;}

  cite{text-align: right;
        display: block;}

article{margin: 6rem;color: rgb(255, 0, 0);}

 code
{ color: steelblue;
    }

    
